asttokens==2.4.1
audioread==3.0.1
babel==2.17.0
cffi==1.17.1
colorama==0.4.6
contourpy==1.3.0
control==0.10.1
cycler==0.12.1
decorator==5.1.1
executing==2.1.0
fonttools==4.54.1
ipython==8.29.0
jedi==0.19.2
kiwisolver==1.4.7
lcapy==1.24
matplotlib==3.9.2
matplotlib-inline==0.1.7
mpmath==1.3.0
networkx==3.4.2
numpy==2.1.2
packaging==24.1
parso==0.8.4
pillow==11.0.0
prompt_toolkit==3.0.48
property-cached==1.6.4
pure_eval==0.2.3
pycparser==2.22
Pygments==2.18.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
scipy==1.14.1
setuptools==75.2.0
six==1.16.0
soundfile==0.12.1
stack-data==0.6.3
sympy==1.13.3
tkcalendar==1.6.1
traitlets==5.14.3
wcwidth==0.2.13
wheel==0.44.0
zplane==0.1.7
